.card-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}


.card {
  transition: transform 0.2s, box-shadow 0.2s, background-color 0.2s;
  width: 300px;
  margin: 20px auto;
  padding: 20px;
  border-radius: 10px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.card:hover {
  background-color: #f0f0f0;
  /* Change the background color on hover */
  transform: scale(1.02);
  /* Add a slight scale effect on hover */
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
  /* Add a subtle shadow on hover */
}

.card_img {
  width: 100%;
  height: auto;
}

.card_info {
  padding: 15px;
}

.card_category {
  font-size: 14px;
  color: #888;
}

.card_title {
  font-size: 20px;
  margin: 10px 0;
}

button {
  background-color: #e50914;
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 1em;
}

button:hover {
  background-color: #ff4c5a;
}

h1 {
  text-align: center;
  color: #333;
  font-size: 2em;
  margin-bottom: 20px;
}

.button-container {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-bottom: 20px;
}